[Unit]
Description=serve to run logFile.sh

[Service]
ExecStart=/home/mustafa/systemd/logFile.sh
User=mustafa
~                                      
